<% if logged_in? %>
  <div id="fh5co-portfolio">
    <div class="container">
      <div class="col-md-9">
        <h3>登録物件一覧 (<%= @feed_items.count %>)</h3>
        <%= render 'shared/feed' %>
      </div>
      <div class="col-md-3">
        <p><%= link_to "物件を登録する", new_property_path, class: "btn btn-primary btn-lg btn-demo btn-record" %></p>
      </div>
    </div>
  </div>
<% else %>
  
  <header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <div class="display-t js-fullheight welcome-message">
            <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
              <h1>お部屋を決める前に、<br>物件情報をチェック。</h1>
              <h2>あなたのお引っ越しを成功させましょう！</h2>
              <p>
                <%= link_to 'yeahlogを始める', signup_path, class: "btn btn-primary btn-lg btn-demo" %>
              </p>
                <br>
              <p>
                <h4>＜※採用担当者様は下のゲストログインをご利用下さい＞</h4>
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <%= render 'shared/recruit_login' %>
<% end %>

