<li id="property-<%= property.id %>">
  <%= link_to gravatar_for(property.user, size: 50), property.user %>
  <span class="name"><%= link_to property.name, property_path(property) %></span>
  <span>
    <%= link_to((image_tag property.picture.thumb200.url), property_path(property.id), class: 'property-picture') if property.picture.url.present? %>
  </span>
  <span class="description"><%= property.description %></span><br>
  <span class="recommend">オススメ度：<%= property.recommend %></span><br>
  <span class="reference"><%= link_to "物件詳細", property.reference, target: :_blank %></span>
  <span class="timestamp">
    <%= time_ago_in_words(property.created_at) %>前に投稿
  </span>
  <% if current_user.admin? || (current_user == property.user) %>
    <%= link_to "削除", property_path(property), method: :delete,
                        data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</li>
